<!--    <div class="row d-flex justify-content-center" id="home_page_input_row">-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--            <select class="form-control" id="branch_name_dropdown">-->
<!--                <option></option>-->
<!--                {% for branch in branchs %}-->
<!--                <option value="{{ branch }}">{{ branch }}</option>-->
<!--                {% endfor %}-->
<!--	        </select>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--            <select class="form-control" id="train_name_dropdown">-->
<!--                <option></option>-->
<!--	        </select>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--            <select class="form-control" id="build_name_dropdown">-->
<!--                <option></option>-->
<!--	        </select>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--            <select class="form-control" id="category_dropdown">-->
<!--                <option></option>-->
<!--                <option value="error">Error</option>-->
<!--                <option value="suite">Suite</option>-->
<!--	        </select>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-6">-->
<!--            {% csrf_token %}-->
<!--            <button type="button" class="btn btn-info" id="home_page_analyze_btn">Analyze</button>-->
<!--        </div>-->
<!--    </div>-->